@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /*font-family: 'Roboto', sans-serif;*/

:root {
  --black1: #212529;
  --black2: #343a40;

  --white1: #f4f1de;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--black1);
}

#home {
  height: 100vh;
  padding: 5px;

  display: grid;
  grid-template-areas:  
    "title title title title"
    "about about hobby work"
    "about about social social";
  grid-template-rows: 4fr 3fr 3fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#home header {
  grid-area: title;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: var(--white1);
}

#home header span {
  font-size: 2.75em;
  font-weight: 700;

  transition: color 0.25s;
}

#home header span:hover {
  cursor: default;

  color: goldenrod;
}

#home .container {
  border-radius: 75px;
  padding: 50px;

  background-color: var(--white1);

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  font-size: 1.35em;
  font-weight: 500;

  position: relative;
  overflow: hidden;

  transition: transform 0.5s;
}

#home .container:hover {
  transform: scale(0.95);
}

#home .container:hover span {
  color: transparent;

  transition: color 0.25s;
}

#home> .container .hover-content>h1 {
  font-size: 2em;
}

#home .container>span>i {
  font-size: 1.75em;
}

#home #about {
  grid-area: about;
}

#home #about .hover-content {
  width: 100%;
  position: absolute;

  color: transparent;
}

#home #about:hover .hover-content {
  color: var(--black1);

  transition: color 0.5s;
}

#home #hobby {
  grid-area: hobby;
}

#home #work {
  grid-area: work;
}

#home #hobby .hover-content, 
#home #work .hover-content {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: color 0.25s;
}

#home #hobby .hover-content,
#home #work .hover-content {
  color: transparent;
}

#home #hobby .hover-content i,
#home #work .hover-content i {
  position: absolute;
  bottom: 15px;

  transform: translateY(500%);

  transition: transform 0.5s;
}

#home #hobby:hover .hover-content h1, 
#home #work:hover .hover-content h1 {
  color: var(--black1);

  animation: horizontal-repeat 5s linear infinite;
}

#home #hobby:hover .hover-content i,
#home #work:hover .hover-content i {
  color: var(--black1);

  font-size: 2em;

  transform: translateY(0);
}

@keyframes horizontal-repeat {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(-100%);
  }
}

#home #social {
  grid-area: social;
}

#about-me {
  height: 85vh;
  margin: 0 5px 5px 5px;
  padding: 40px 50px;
  border-radius: 75px;

  background-color: var(--black2);
  color: var(--white1);
}