@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /*font-family: 'Roboto', sans-serif;*/

/* Update color palette */
:root {
  --black1: #000000;
  --black2: #1F1F1F;

  --white1: #f4f1de;
  --white2: #ffffff;

  --color1: #FFC857;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#home-section {
  height: 100vh;
  padding: 5px;

  display: grid;
  grid-template-areas:  
    "title title title title"
    "about about hobby work"
    "about about social social";
  grid-template-rows: 4fr 3fr 3fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;

  background-color: var(--black2);
}

#home-section header {
  grid-area: title;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: var(--white1);
}

#home-section header span {
  margin: 25px;

  font-size: 7em;
  font-weight: 700;

  transition: color 0.5s, text-shadow 0.25s;
}

#home-section header span:hover {
  cursor: default;

  color: var(--color1);
  text-shadow: 0px 0px 15px var(--white1);
}

#home-section .container {
  border-radius: 75px;
  padding: 50px;

  background-color: var(--white1);

  display: flex;
  align-items: flex-end;

  position: relative;
  overflow: hidden;

  transition: transform 0.5s;
}

#home-section .container a {
  width: 90%;
  height: 90%;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  transform: translate(-50%, -50%);
}

#home-section .container:hover {
  transform: scale(0.95);
}

#home-section .container .initial-content {
  width: 100%;

  font-size: 1.3em;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
}

#home-section .container:hover .initial-content {
  color: transparent;

  transition: color 0.25s;
}

#home-section #about {
  grid-area: about;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(0deg, rgba(244, 241, 222, 0.75), rgba(244, 241, 222, 0.75)), url(./Images/windrisestracer.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-section #about .initial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 5em;
  font-weight: 100;

  animation: enlarge 5s infinite linear;
}

#home-section #about .hover-content {
  width: 100%;
  height: 100%;
  padding: 50px;

  text-align: left;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  word-spacing: 0.5em;
  
  position: absolute;
  top: 0;
  left: 0;

  color: transparent;
}

#home-section #about .hover-content h1 {
  font-weight: 500;
}

#home-section #about:hover .hover-content {
  color: var(--black1);

  transition: color 0.5s;
}

#home-section #hobby {
  grid-area: hobby;
}

#home-section #hobby:hover {
  background: linear-gradient(0deg, rgba(244, 241, 222, 0.75), rgba(244, 241, 222, 0.75)), url(./Images/sonyanime.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-section #work {
  grid-area: work;
}

#home-section #work:hover {
  background: linear-gradient(0deg, rgba(244, 241, 222, 0.75), rgba(244, 241, 222, 0.75)), url(./Images/animebuttons.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-section #hobby .hover-content, 
#home-section #work .hover-content {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: transparent;

  transition: color 0.25s;
}

#home-section #hobby .hover-content i,
#home-section #work .hover-content i {
  position: absolute;
  bottom: 15px;

  transform: translateY(500%);

  transition: transform 0.5s;
}

#home-section #hobby:hover .hover-content h1, 
#home-section #work:hover .hover-content h1 {
  color: var(--black1);
  font-weight: 300;

  animation: horizontal-repeat 5s linear infinite;
}

#home-section #hobby:hover .hover-content i,
#home-section #work:hover .hover-content i {
  color: var(--black1);

  font-size: 1.5em;

  transform: translateY(0);
}

#home-section #social {
  grid-area: social;
}

#home-section #social .hover-content {
  width: 100%;
  height: 100%;
  padding: 50px;

  position: absolute;
  top: 0;
  left: 0;

  text-align: center;

  display: flex;
  flex-direction: column;

  color: transparent;

  transition: color 0.25s;
}

#home-section #social:hover .hover-content {
  color: var(--black1);

  background: linear-gradient(0deg, rgba(244, 241, 222, 0.75), rgba(244, 241, 222, 0.75)), url(./Images/phonenotifanime.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-section #social .hover-content h1 {
  margin-bottom: 20px;

  letter-spacing: 0.2em;
  font-weight: 300;
  font-size: 3em;

  animation: enlarge 3s linear infinite;
}

#home-section #social .hover-content i {
  margin: 0 5px;

  letter-spacing: 0.2em;
  font-weight: 300;
  font-size: 3em;
  
  position: relative;
  z-index: 1;

  text-decoration: none;
}

#home-section #social .hover-content i:hover {
  cursor: pointer;
}

#home-section #social .hover-content i a {
  width: 100%;
  height: 100%;

  position: absolute;
}

#hobby-section {
  background: linear-gradient(180deg, var(--black2), var(--white1), var(--white1), var(--white1), var(--white1), var(--white1), var(--white1), var(--black2));
}

#hobby-section #animanga {
  height: 100vh;
  padding: 0 15px;
  margin: 0 auto;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
  align-content: center;

  position: relative;
}

#hobby-section #animanga:nth-child(1) {
  padding-top: 15px;
}

#hobby-section #animanga:nth-child(2) {
  padding-bottom: 15px;
}

#hobby-section #animanga .title {
  position: absolute;
  z-index: 3;

  width: 90vw;
  padding: 50px 0;

  text-align: center;
  font-size: 4em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.25em;
  word-spacing: 0.5em;

  background-color: var(--black1);
  color: var(--white1);

  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);

  transition: transform 0.5s 1.5s;
}

#hobby-section #animanga:hover .title {
  transform: translate(120%);
}

#hobby-section #animanga .animanga-panel {
  width: 19%;
  height: 19%;

  position: relative;

  transition: transform 1s, box-shadow 0.5s;
}

#hobby-section #animanga .animanga-panel:hover {
  transform: scale(1.025);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
}

#hobby-section #animanga .animanga-panel img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

#hobby-section #animanga .animanga-panel .overlay {
  position: absolute;

  overflow: hidden;

  width: 100%;
  height: 100%;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background: linear-gradient(0deg, rgba(244, 241, 222, 0.9), rgba(244, 241, 222, 0.5));

  transition: transform 0.75s;
}

#hobby-section #animanga .animanga-panel:hover .overlay {
  background: linear-gradient(0deg, rgba(244, 241, 222, 0.25), rgba(244, 241, 222, 0.25));
}

#hobby-section #animanga .animanga-panel .overlay h1 {
  padding: 5px;

  font-weight: 300;

  color: transparent;
  background-color: transparent;

  transition: background-color 1s, color 1s;
}

#hobby-section #animanga .animanga-panel:hover .overlay h1 {
  color: var(--white1);
  background-color: var(--black1);
}

#hobby-section #fitness {
  padding-top: 50px;
  height: 100vh;
}

#hobby-section #fitness .title {
  width: 80%;
  margin: 0 auto;

  text-align: center;
  font-size: 3em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.25em;
  word-spacing: 0.5em;

  color: var(--white1);
  background-color: var(--black1);

  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
}

#hobby-section #fitness .content {
  margin: 50px auto;
  width: 75%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#hobby-section #fitness .content iframe{
  margin: 15px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
}

#work-section {
  background-color: transparent;
}

#work-section #web-projects {
  height: 100vh;
  padding: 5px;

  display: grid;
  grid-template-areas:  
    "title title title title"
    "pokedex pokedex jokes jokes"
    "movie movie hoverboard hoverboard";
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;

  background-color: var(--black2);
}

#work-section #web-projects .title {
  grid-area: title;

  border-radius: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.25em;
  word-spacing: 0.5em;

  color: var(--white1);
  background-color: transparent;
}

#work-section #web-projects .container {
  border-radius: 75px;

  background-color: var(--white1);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  transition: transform 0.5s;
}

#work-section #web-projects .container a {
  width: 90%;
  height: 90%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#work-section #web-projects .container h1 {
  text-align: center;
  font-weight: 100;
  font-size: 4em;
}

#work-section #web-projects .container:hover {
  transform: scale(0.95);
}

#work-section #web-projects #pokedex {
  grid-area: pokedex;

  background: linear-gradient(180deg, rgba(244, 241, 222, 0.35), rgba(244, 241, 222, 1)), url(./Images/Web/pokedex-web.jpg);
  background-position: center;
  background-size: cover;
}

#work-section #web-projects #jokes {
  grid-area: jokes;

  background: linear-gradient(180deg, rgba(244, 241, 222, 0.35), rgba(244, 241, 222, 1)), url(./Images/Web/jokes-web.jpg);
  background-position: center;
  background-size: cover;
}

#work-section #web-projects #hoverboard {
  grid-area: hoverboard;

  background: linear-gradient(180deg, rgba(244, 241, 222, 0.35), rgba(244, 241, 222, 1)), url(./Images/Web/hover-web.jpg);
  background-position: center;
  background-size: cover;
}

#work-section #web-projects #movie {
  grid-area: movie;

  background: linear-gradient(180deg, rgba(244, 241, 222, 0.35), rgba(244, 241, 222, 1)), url(./Images/Web/movieapp-web.jpg);
  background-position: center;
  background-size: cover;
}

#work-section #game-projects {
  height: 100vh;
  padding: 5px;

  display: grid;
  grid-template-areas:  
    "title game-1 game-2"
    "title game-3 game-4";
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 5px;

  background-color: var(--black2);
}

#work-section #game-projects .container {
  border-radius: 75px;

  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  position: relative;

  transition: transform 0.5s;
}

#work-section #game-projects .container:hover {
  transform: scale(0.95);
}

#work-section #game-projects .container .initial-content {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  background-color: var(--white1);

  transition: transform 1s;
}

#work-section #game-projects .container:hover .initial-content {
  transform: translateY(100%);
}

#work-section #game-projects .title {
  grid-area: title;

  padding: 50px;
  border-radius: 75px;
  
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.25em;
  word-spacing: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white1);
  background-color: transparent;
}

#work-section #game-projects #game-1 {
  grid-area: game-1;
}

#work-section #game-projects #game-1 .initial-content {
  background: linear-gradient(180deg, rgba(244, 241, 222, 0.35), rgba(244, 241, 222, 1)), url(./Images/Games/game1-game.png);
  background-position: center;
  background-size: cover;
}

#work-section #game-projects #game-2 {
  grid-area: game-2;
}

#work-section #game-projects #game-2 .initial-content {
  background: linear-gradient(180deg, rgba(244, 241, 222, 0.35), rgba(244, 241, 222, 1)), url(./Images/Games/game2-game.png);
  background-position: center;
  background-size: cover;
}

#work-section #game-projects #game-3 {
  grid-area: game-3;
}

#work-section #game-projects #game-3 .initial-content {
  background: linear-gradient(180deg, rgba(244, 241, 222, 0.35), rgba(244, 241, 222, 1)), url(./Images/Games/game3-game.png);
  background-position: center;
  background-size: cover;
}

#work-section #game-projects #game-4 {
  grid-area: game-4;
}

#work-section #game-projects #game-4 .initial-content {
  background: linear-gradient(180deg, rgba(244, 241, 222, 0.35), rgba(244, 241, 222, 1)), url(./Images/Games/game4-game.png);
  background-position: center;
  background-size: cover;
}

@keyframes horizontal-repeat {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(-100%);
  }
}

@keyframes enlarge {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}